.player-container
{

    background-image: url("/public/assets/images/boss.png");
    width: 400px;
    height:300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.attack{
    transform: translateX(210%);
    transition: transform 0.5s ease-out;

}

.life-bar{
    background-color: red;
}

