.life-bar
{

    margin-inline: auto;
    width: 200px;
    height: 20px;
    border: solid 1px black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-life
{
    z-index: -1;
    position: absolute;
    left: 0;
    height: 100%;
    background-color: crimson;
}