.ennemy-life-bar
{
    margin-block-start: 24px;
    margin-inline: auto;
    width: 400px;
    height: 50px;
    border: solid 1px black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ennemy-current-life
{
    z-index: -1;
    position: absolute;
    left: 0;
    height: 100%;
    background-color: crimson;
}